name: CI/CD Lanchonete

on:
  push:
    branches: [ "**" ]
  workflow_dispatch: 

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    # Testes do Frontend
    - name: Install & Test Frontend
      working-directory: ./frontend
      run: |
        npm install
        npm test

  integration-tests:
    needs: unit-tests # Só roda se os unitários passarem
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Subir Containers (Docker Compose)
      # O --build garante que ele use o Dockerfile atualizado
      run: |
        docker compose up -d --build
        
    - name: Aguardar Inicialização (Healthchecks)
      run: |
        echo "Aguardando banco de dados ficar saudável..."
        timeout 60s sh -c 'until docker inspect --format="{{.State.Health.Status}}" lanchonete-db | grep -q "healthy"; do sleep 2; done'
        
        echo "Aguardando backend e frontend iniciarem..."
        sleep 15 
        
        docker compose ps

    - name: Executar Testes de Integração
      run: |
        # Roda o script de teste apontando para o localhost
        node integration-tests/api.test.js

    - name: Logs dos Containers (Em caso de falha)
      if: failure()
      run: docker compose logs